<html>
<head>
<title>《天下贰》新手八点须知(CH出品）-《天下贰》官方网站</title>
<meta http-equiv="refresh" content="0;url=http://tx2.netease.com/viewthread.php?tid=90729">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="content-language" content="UTF-8"/>
<meta name="keywords" content="网易,天下贰,官方网站,天下贰官网,玩家站,天下贰论坛,天下2,天下二,公测,天下贰公测,客户端下载,新手,任务,攻略,门派,荒火,天机,翎羽,魍魉,太虚,弈剑,云麓,冰心,帐号,NPC坐标,幻化,元魂珠,黄土神石,中原,巴蜀,江南,雷泽,补丁,天下贰下载,天下贰帐号,"/>
<meta name="description" content="天下贰游戏官方网站,网易耗时超过三年,倾力打造的中国传统风格的3D神幻大型MMORPG网络游戏,它以中国古代神话为背景,将玩家置身于中华文明起源的神话与传说之中,这里没有正与邪之分,这里一切充满着纷争和机遇"/>
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
</head>
<body>

</body>
</html>